body {
  background-color: whitesmoke;
  margin-left: 0;
}

.content {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  position: fixed;
  width: 25rem;
  top: 2.8rem;
  right: 2.5rem;
  transform: rotateY(180deg);
  transform: rotateX(180deg);
}

#btn-translate {
  background-color: rgb(31, 100, 37);
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 0.25rem double whitesmoke;
  border-radius: 5px;
}

textarea {
  width: 35rem;
  height: 15rem;
  display: block;
  margin: 1rem;
  padding: 1rem;
  border: 0.25rem solid black;
  border-radius: 5px;
}

#output {
  width: 35rem;
  height: 15rem;
  display: block;
  margin: 1rem;
  padding: 1rem;
  border: 0.25rem solid black;
  border-radius: 5px;
  margin-top: 1rem;
}

.output-txt {
  margin-top: 2rem;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.navbar {
  display: flex;
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 45rem;
  padding-right: 45rem;
  font-size: 35px;
  background-color: rgb(80, 168, 57);
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.social-div {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(80, 168, 57);
  margin-top: 4.5rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social {
  padding: 5px 18px 20px 18px;
  width: 50px;
}

.connect {
  font-size: 2rem;
  font-weight: bolder;
  padding : 2rem 2rem 0rem 2rem;
  display: flex;
  justify-content: center;
}


@media (max-width: 576px) {
  .navbar {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(80, 168, 57);
    position: fixed;
    font-weight: bold;
    top: 0;
    width: 100%;
  }

  .img {
    position: fixed;
    width: 15rem;
    top: 1.5rem;
    right: 0.1rem;
    transform: rotateY(180deg);
    transform: rotateX(180deg);
  }

  #btn-translate {
    background-color: rgb(31, 100, 37);
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 0.25rem double whitesmoke;
    border-radius: 5px;
  }

  textarea {
    width: 15rem;
    height: 8rem;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 0.25rem solid black;
    border-radius: 5px;
  }

  #output {
    width: 15rem;
    height: 8rem;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 0.25rem solid black;
    border-radius: 5px;
    margin-top: 1rem;
  }

  .footer {
    background-color: rgb(80, 168, 57);
    margin-top: rem;
    position: relative;
    width: 100%;
  }
}
